/CSharp/Formação ASP.NET Core REST APIs/Alura.Loja/packages/
/CSharp/Formação ASP.NET Core REST APIs/Alura.WebAPI/packages/
*.class
/DEVOPS/ambiente_dev/bionic/.vagrant/

/ReactJS/.idea/
/ReactJS/ByteBank/.idea/
/ReactJS/ceep/.idea/